@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Oswald:wght@200;300;400;500;600;700&display=swap");
*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.layout {
	position: relative;
}
a {
	text-decoration: none;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: white;
}
body::-webkit-scrollbar {
	width: 15px;
}

body::-webkit-scrollbar-track {
	background-color: #d4d4d4;
	border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: linear-gradient(
		180deg,
		rgba(1, 177, 175, 0.3) 0%,
		rgba(1, 177, 175, 0.5) 49%,

		rgba(1, 177, 175, 0.8) 99%
	);
	box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}
.container-nav {
	background-color: rgba(255, 255, 255, 0.7);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9;
}
.navbar {
	display: flex;
	padding: 1rem 0;
	max-width: 120rem;
	margin: auto;
	align-items: center;
	justify-content: space-between;
	gap: 4rem;
}
.navbar-links__container {
	display: flex;
	gap: 2.5rem;
}
.navbar-logo__container img {
	max-width: 10rem;
	width: 100%;
	height: 100%;
}
.navbar-links__container > a {
	font-size: 2.25rem;
	font-weight: 600;
	text-transform: uppercase;
	color: black;
}

.navbar-links__container > a:hover {
	font-size: 2.25rem;
	text-transform: uppercase;
	color: rgb(1, 177, 175);
	transition: ease-in-out 0.2s;
}
.navbar-logo__container img {
	cursor: pointer;
}
.navbar-logo__container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}
.navbar-menu {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	width: 45%;
	display: flex;
	flex-direction: column;
	background-color: rgba(1, 177, 175, 0.9);
	z-index: 999999999;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}
.navbar-mobile {
	display: none;
}
.navbar-menu a {
	font-size: 2rem;
	text-transform: uppercase;
	color: white;
	font-weight: 700;
}
.progressy {
	width: 50px;
	height: 50px;
	color: white;
}

@media screen and (max-width: 1200px) {
	.navbar {
		flex-direction: column;
		gap: 0.5rem;
	}
	.navbar-logo__container img {
		max-width: 3rem;
	}
	.navbar-links__container {
		padding: 1rem;
	}
	.navbar-links__container > a {
		font-size: 2rem;
	}
}
@media screen and (max-width: 840px) {
	.navbar-links__container {
		display: none;
	}
	.navbar-mobile {
		display: block;
	}
	.navbar {
		flex-direction: row;
		justify-content: space-around;
	}
}
/* HEADER SECTION */

.header-section {
	min-height: 100vh;
	margin: auto;
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.75),
			rgba(255, 255, 255, 0.75)
		),
		url("/header.webp"); /* The image used */
	background-color: #cccccc; /* Used if the image is unavailable */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	background-attachment: fixed;
	padding-bottom: 10vh;
}
.header-title {
	padding-top: 15vh;
	font-size: 4.5rem;
	margin-bottom: 5rem;
}

.header-text {
	text-align: justify;
	margin-bottom: 5rem;
	line-height: 1.75;
	padding-bottom: 5rem;
	font-size: 2.75rem;
}

.header-box {
	max-width: 120rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	flex: 1;
}
.header-buttons {
	display: flex;
	gap: 5rem;
	justify-self: flex-end;
}
.header-buttons > a,
.join-box-content > a {
	padding: 2rem 3rem;
	background: black;
	color: white;
	text-transform: uppercase;
	border-radius: 50px;
	border: 1px solid black;
}

.header-buttons > a:hover {
	background: white;
	color: black;
	transition: ease-in-out 0.2s;
}

.news-section-title {
	text-align: center;
	font-size: 4rem;
	padding: 3rem 0;
}

.news-section-card-box {
	display: flex;
	max-width: 120rem;
	margin: auto;
	gap: 5rem;
	justify-content: center;
}
.news-section-card {
	max-width: 30rem;
	width: 100%;
	background: red;
	display: flex;
	flex-direction: column;
}
.news-section-card-title {
	padding: 2rem;
	font-size: 2rem;
	text-align: center;
	flex: 50%;
}
.news-section-card-img {
	flex: 50%;
}
.news-section-card img {
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 1200px) {
	.header-text {
		text-align: justify;
		margin-bottom: 5rem;
		line-height: 1.75;
		padding: 5rem;
		font-size: 2.5rem;
	}

	.header-title {
		margin-bottom: 0;
	}
}
@media screen and (max-width: 840px) {
	.header-buttons {
		flex-direction: column;
		text-align: center;
		padding: 1rem;
	}
	.header-title {
		text-align: center;
		font-size: 3rem;
		padding: 0 2rem;
	}
	.header-text {
		font-size: 2rem;
		padding-bottom: 0rem;
	}
	.header-box {
		font-size: 2rem;
	}
}
@media screen and (max-width: 540px) {
	.header-title {
		margin-top: 15vh;
	}
	.header-box {
		font-size: 1.5rem;
	}
}
/* ABOUT SECTION */

.about-section {
	max-width: 120rem;
	margin: auto;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	position: relative;
}
.about-mainbox {
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 4rem;
}
.about-title {
	font-size: 4rem;
	text-align: center;
	padding: 3rem 0 0 0;
	text-transform: uppercase;
}

.about-box {
	background: rgba(255, 255, 255, 0.9);
	display: flex;
	flex-direction: column;
	-webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.63);
	-moz-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.63);
	box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.63);
	max-height: 70rem;
	height: 100%;
	border-radius: 20px;
	margin: auto;
}

.about-left,
.about-right {
	display: flex;
	flex-wrap: wrap;
}
.about-left-text,
.about-right-text {
	display: flex;
	align-items: center;
	padding: 0 7.5rem;
}
.about-text {
	text-align: justify;
	font-size: 2rem;
	line-height: 1.7;
}
.about-left-img,
.about-right-img {
	max-width: 50%;
	max-height: 35rem;
}

.about-left-img img,
.about-right-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.about-right-img img {
	border-radius: 0 0 20px 0;
}

.about-left-img img {
	border-radius: 20px 0 0 0;
}

.about-left-image,
.about-left-text,
.about-right-image,
.about-right-text {
	flex: 1;
}

@media screen and (max-width: 1200px) {
	.about-section {
		padding: 0 3rem;
	}
	.about-text {
		font-size: 1.5rem;
	}
	.about-box {
		background: none;

		box-shadow: none;
	}
}

@media screen and (max-width: 840px) {
	.about-left-text,
	.about-right-text {
		padding: 3rem;
		font-size: 1.2rem;
	}
	.about-left,
	.about-right {
		flex-direction: column;
		margin: auto;
		justify-content: center;
		align-items: center;
	}
	.about-box {
		background: none;
		max-height: 100rem;

		box-shadow: none;
	}
}

/* JOIN SECTION */

.join-section {
	min-height: 90vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("/dark-bg.webp"); /* The image used */
	background-color: #cccccc; /* Used if the image is unavailable */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	background-attachment: fixed;
	display: flex;
}

.join-box {
	background-color: rgba(255, 255, 255, 0.8);
	max-width: 120rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	position: relative;
}

.join-title {
	font-size: 4rem;
	text-transform: uppercase;
}

.join-box-top {
	margin: auto;
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
	gap: 2rem;
}

.join-box-top img {
	max-width: 20rem;
	width: 100%;
}

.join-box-content {
	max-width: 80%;
	margin: auto;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.join-box-content p {
	font-size: 2rem;
	line-height: 1.7;
}

.join-box-content a {
	font-size: 2.5rem;
	text-align: center;
	margin: auto;
	display: inline;
	text-transform: uppercase;
	background-color: #000000;
	color: white;
	padding: 2rem 3rem;
	margin: 3rem auto;
	border-radius: 50px;
}
.join-box-content a:hover {
	background: white;
	color: black;
	transition: ease-in-out 0.2s;
}
@media screen and (max-width: 1200px) {
	.join-section {
		padding: 0 3rem;
	}
}
@media screen and (max-width: 840px) {
	.join-title {
		font-size: 2.5rem;
	}
	.join-box-top {
		flex-direction: column-reverse;
		gap: 2rem;
	}
	.join-box-content p {
		font-size: 1.5rem;
		line-height: 1.7;
	}
	.join-box-content a {
		font-size: 2rem;
	}
	.join-box-content {
		padding: 1rem;
	}
}
@media screen and (max-width: 540px) {
	.join-section {
		padding: 3rem;
	}
}
/* 	TEAM SECTION */

.team-section {
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff;
	position: relative;
}

.team-title {
	font-size: 4rem;
	padding: 4rem 0;
	text-transform: uppercase;
}

.profile-card {
	text-align: center;
	max-width: 25rem;
	width: 100%;
}
.team-box {
	display: flex;
	gap: 7rem;
	max-width: 120rem;
	flex-wrap: wrap;
	margin: auto;
	justify-content: space-evenly;
}
.profile-name {
	font-size: 2.5rem;
}
.profile-job {
	font-size: 1.5rem;
	line-height: 1.6;
	font-weight: 300;
}
.profile-content {
	padding: 3rem 0;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.profile-card,
.profile-card > img {
	border-radius: 100%;
}
@media screen and (max-width: 1200px) {
	.team-box {
		padding: 0 3rem;
	}
}
@media screen and (max-width: 540px) {
	.join-section {
		padding: 3rem;
	}
}

/* CONTACT SECTION */

.contact-section {
	min-height: 65vh;
	background-color: rgb(32, 37, 44);
	display: flex;
	flex-direction: column;
	position: relative;
}

.contact-title {
	font-size: 4rem;
	text-transform: uppercase;
	text-align: center;
	color: rgb(219, 218, 195);
	padding: 3rem 0;
}
.contact-box > h4 {
	font-size: 2.5rem;
	text-align: center;
	color: rgb(219, 218, 195);
	padding: 1rem 0;
}
.contact-box {
	max-width: 120rem;
	margin: 0 auto;
}
.contact-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	gap: 1rem;
}
.form-left {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
}
input,
textarea {
	background-color: rgb(219, 218, 195);
	width: 100%;
	padding: 1rem 2rem;
	border-radius: 10px;
}
.contact-form > a {
	font-size: 2.2rem;
	color: rgb(32, 37, 44);
	background-color: rgb(219, 218, 195);
	text-transform: uppercase;
	text-align: center;
	padding: 1rem 0;
	border-radius: 10px;
	font-weight: 600;
}

.contact-form > a:hover {
	background-color: rgb(32, 37, 44);
	color: rgb(219, 218, 195);
	border: solid 1px rgb(219, 218, 195);
}
@media screen and (max-width: 540px) {
	.contact-form {
		width: 100%;
		margin: auto;
		padding: 4rem 0;
	}
	.contact-title {
		font-size: 2rem;
	}
	.contact-box > h4 {
		font-size: 1.5rem;
	}
}
/* FOOTER SECTION */

.footer-section {
	min-height: 10vh;
	background-color: rgb(1, 177, 175);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.fb-logo {
	margin-top: 1.5rem;
}
.footer-section > p {
	font-size: 1.75rem;
	font-weight: 300;
	padding: 1.5rem 0;
	text-align: center;
	line-height: 1.6;
}
@media screen and (max-width: 840px) {
	.footer-section > p {
		font-size: 1.2rem;
		font-weight: 300;
		padding: 1.5rem 0;
		text-align: center;
		line-height: 1.6;
	}
}

/* ACTIVITY PAGE */

.activity-container {
	padding: 15rem 0 3rem 0;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.5)
		),
		url("/light-bg.webp"); /* The image used */
	background-color: #cccccc; /* Used if the image is unavailable */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	background-attachment: fixed;
	min-height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.activity-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 120rem;
	width: 80%;
	gap: 2rem;
}
.activity-card {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 2rem;
	display: flex;
	gap: 1rem;
	border-radius: 10px;
}
.left-activity,
.right-activity {
	flex: 1;
}
.left-activity {
	display: flex;
}

.right-activity {
	padding: 2rem;
}
.activity-name {
	font-size: 2.2rem;
}
.activity-text {
	font-size: 1.8rem;
	line-height: 1.7;
}
.left-activity img {
	width: 100%;
	object-fit: cover;
	border-radius: 50px;
}
.activity-time {
	font-size: 2rem;
	font-style: italic;
}
@media screen and (max-width: 1200px) {
	.left-activity img {
		max-width: 30rem;
		width: 100%;
		object-fit: cover;
		margin: auto;
	}
	.activity-name {
		font-size: 1.7rem;
	}
	.activity-text {
		font-size: 1.5rem;
		line-height: 1.7;
	}
}
@media screen and (max-width: 840px) {
	.left-activity img {
		max-width: 30rem;
		width: 100%;
		object-fit: cover;
		margin: auto;
	}
	.activity-name {
		font-size: 1.7rem;
	}
	.activity-text {
		font-size: 1.5rem;
		line-height: 1.7;
	}
	.right-activity {
		padding: 1rem 0;
	}
	.activity-card {
		flex-direction: column-reverse;
	}
}
/* CLIMB PAGE */

.climb-section {
	min-height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.5)
		),
		url("/climb-bg.webp"); /* The image used */
	background-color: #cccccc; /* Used if the image is unavailable */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	background-attachment: fixed;
	padding: 2rem 0;
}

.climb-box {
	display: flex;
	max-width: 140rem;
	gap: 2rem;
	margin-top: 10rem;
	flex-wrap: wrap;
}
.climb-card {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 25px;
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	max-width: 40rem;
	width: 100%;
}
.climb-card img {
	max-width: 40rem;
	width: 100%;
	height: 100%;
	max-height: 40rem;
	border-radius: 10%;
}
.climb-card-content {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: space-around;
	align-items: center;
	flex: 1;
}
.climb-card-title {
	text-align: center;
	font-size: 3rem;
	text-transform: uppercase;
}
.climb-card-text {
	font-size: 1.75rem;
	line-height: 1.6;
}
.climb-card-content a {
	padding: 1rem 2rem;
	text-transform: uppercase;
	background-color: #d8d8d8;
	color: rgb(1, 177, 175);
	font-weight: 700;
	font-size: 1.8rem;
	border-radius: 15px;
}

@media screen and (max-width: 1250px) {
	.climb-box {
		justify-content: center;
		padding-top: 10vh;
	}
}
@media screen and (max-width: 840px) {
	.climb-box {
		justify-content: center;
		padding-top: 5vh;
	}
	.climb-card img {
		max-width: 20rem;
	}
	.climb-card-text,
	.climb-card-content a {
		font-size: 1.5rem;
	}
	.climb-card-title {
		font-size: 2rem;
	}
	.climb-section {
		padding: 2rem 3rem;
	}
}
/* ICE SECTION */

.ice-section {
	min-height: 80vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url("/ice-bg.webp"); /* The image used */
	background-color: #cccccc; /* Used if the image is unavailable */
	background-position: top; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	background-attachment: fixed;
}
.ice-title {
	font-size: 4.5rem;
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding: 3rem 0;
}
.ice-content {
	display: flex;
	flex-direction: column;
	max-width: 120rem;
	margin: auto;
}
.ice-text {
	font-size: 2rem;
	line-height: 1.7;
	color: white;
}
.cascade-box {
	display: flex;
	margin: auto;
	max-width: 100rem;
	padding: 4rem 0;
}
.cascade-left img {
	border-radius: 10%;
	max-width: 30rem;
	width: 100%;
}
.cascade-title {
	font-size: 2.5rem;

	color: white;
	font-weight: 900;
	text-transform: capitalize;
}
.cascade-right {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	flex: 40%;
}
.cascade-right p {
	font-size: 1.7rem;
	line-height: 1.7;
	color: white;
	padding: 2rem;
	border-radius: 10px;
	margin: auto;
	background-color: rgba(99, 26, 26, 0.836);
}

.cap-box {
	display: flex;
	flex-direction: row-reverse;
}
.cap-left img {
	max-width: 40rem;
	width: 100%;
	border-radius: 10px;
}
.cap-right {
	padding: 1rem;
	flex: 40%;
}
.cap-title {
	color: white;
	font-size: 2.2rem;
}
.cap-left {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
}
.cap-text {
	font-size: 1.7rem;
	line-height: 1.7;
	color: white;
	padding: 1rem;
}
.red {
	color: rgb(255, 138, 138);
	font-weight: 900;
}
@media screen and (max-width: 1250px) {
	.ice-text {
		padding: 0 3rem;
	}
	.cascade-box {
		flex-direction: column-reverse;
		align-items: center;
	}
	.cap-box {
		padding: 0 3rem;
		flex-direction: column-reverse;
	}
}

@media screen and (max-width: 840px) {
	.ice-text {
		font-size: 1.7rem;
	}
	.cascade-box {
		flex-direction: column-reverse;
		align-items: center;
	}
	.cascade-right {
		gap: 3rem;
	}
	.cap-box {
		padding: 0 3rem;
		flex-direction: column-reverse;
	}
	.cascade-left img {
		max-width: 20rem;
	}
	.cap-text {
		padding: 1rem 0;
	}
}

/* INDOOR SECTION */

.indoor-section {
	min-height: 80vh;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.5)
		),
		url("/indoor-bg.webp"); /* The image used */
	background-color: #cccccc; /* Used if the image is unavailable */
	background-position: top; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	background-attachment: fixed;
	padding: 3rem;
}
.indoor-maintitle {
	text-align: center;
	text-transform: uppercase;
	font-size: 4.5rem;
	padding: 2rem;
}
.indoor-box {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
.indoor-card {
	max-width: 100rem;
	margin: auto;
	display: flex;
	background-color: rgba(255, 255, 255, 0.9);
	align-items: center;
	border-radius: 10px;
	gap: 2rem;
	padding: 2rem;
}
.indoor-right {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 50%;
}
.indoor-left img {
	max-width: 15rem;
	width: 100%;
}
.indoor-logo {
	display: flex;
	justify-content: center;
	padding: 2rem 0 0 0;
}
.indoor-left {
	display: flex;
	flex-direction: column;
	flex: 50%;
}
.indoor-right img {
	border-radius: 25px;
	max-width: 50rem;
	width: 100%;
}
.indoor-title {
	text-transform: uppercase;
	font-size: 3rem;
	cursor: pointer;
	color: black;
}
.indoor-title:hover {
	color: rgb(1, 177, 175);
	transition: ease-in 0.2s;
}
.indoor-headtext {
	font-size: 1.75rem;
	margin-left: 1rem;
	font-weight: 300;
	margin-top: 0.5rem;
	font-family: "Oswald", sans-serif;
}
.city {
	font-style: italic;
}
.indoor-summary {
	padding: 1rem;
	font-size: 2rem;
	line-height: 1.7;
}
.indoor-right-details {
	display: flex;
	justify-content: space-around;
	padding: 2rem 0;
}
.indoor-details-title {
	font-size: 1.85rem;
	font-weight: 600;
}
.indoor-times,
.indoor-cost {
	font-size: 1.5rem;
	padding: 0.5rem;
}
.indoor-adress,
.indoor-tel {
	font-size: 1.5rem;
	padding: 1rem;
	color: black;
}
/* @media screen and (max-width: 1250px) {

} */
@media screen and (max-width: 840px) {
	.indoor-card {
		flex-direction: column;
	}
	.indoor-right {
		flex-direction: column-reverse;
	}
	.indoor-summary {
		font-size: 1.5rem;
		padding: 1rem 0;
	}
	.indoor-title {
		font-size: 2rem;
	}
	.indoor-right-details {
		flex-direction: column;
	}
}
/* SKI PAGE */

.ski-section {
	min-height: 90vh;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.5)
		),
		url("/ski-bg.webp"); /* The image used */
	background-color: #cccccc; /* Used if the image is unavailable */
	background-position: top; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 5rem;
}

.ski-box {
	max-width: 120rem;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	flex-direction: row-reverse;
	border-radius: 50px;
}

.ski-content {
	display: flex;
	flex-direction: column;
	padding: 5rem 3rem;
}
.ski-title {
	text-transform: uppercase;
	font-size: 4rem;
	text-align: center;
}
.ski-text {
	font-size: 2.5rem;
	line-height: 1.7;
	margin: auto;
	padding: 0 3rem;
}
.ski-box img {
	border-radius: 50px 0 0 50px;
}

@media screen and (max-width: 1200px) {
	.ski-box {
		flex-direction: column;
		width: 80%;
		padding: 1rem 0;
		margin-top: 15vh;
	}
	.ski-section {
		padding: 2rem 0;
	}
	.ski-title {
		font-size: 2.5rem;
		margin-bottom: 1rem;
	}
	.ski-text {
		font-size: 1.5rem;
	}
	.ski-box img {
		max-width: 40rem;
		margin: auto;
		border-radius: 50px;
	}
}
@media screen and (max-width: 840px) {
	.ski-box img {
		max-width: 20rem;
	}
	.ski-content {
		padding: 1rem 0;
	}
}

/* NEWS PAGE */

.news-page {
	min-height: 90vh;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.75),
			rgba(255, 255, 255, 0.75)
		),
		url("/header.webp"); /* The image used */
	background-color: #cccccc; /* Used if the image is unavailable */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	background-attachment: fixed;
}
.news-container {
	max-width: 120rem;
	margin: auto;
	padding-top: 15vh;
	padding-bottom: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
}

.news-card {
	background-color: rgba(0, 0, 0, 0.7);
	max-width: 60rem;
	width: 100%;
	border-radius: 50px;
}
.news-title {
	padding: 1.5rem 1.5rem;
	text-align: center;
	font-size: 2.5rem;
	color: white;
}
.news-text {
	text-align: justify;
	font-size: 1.75rem;
	line-height: 1.7;
	color: white;

	padding: 0 2rem 3rem 2rem;
}
.news-card img {
	max-width: 60rem;
	width: 100%;
}
.news-files {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.5rem 0;
	gap: 1rem;
	text-align: center;
}
.news-card img:last-child {
	border-radius: 0 0 50px 50px;
}
.news-files a,
.news-links a {
	color: rgb(1, 177, 175);
	font-size: 2rem;
	padding: 1rem 2rem;
	font-weight: 600;
}
.news-links {
	text-align: center;
}

.news-files a:hover,
.news-links a:hover {
	color: rgb(255, 138, 138);
	transition: ease-in 0.3s;
}
@media screen and (max-width: 840px) {
	.news-card img {
		width: 100%;
	}
	.news-card {
		background-color: rgba(0, 0, 0, 0.7);
		width: 90%;
		border-radius: 50px;
	}
	.news-text {
		text-align: justify;
		font-size: 1.3rem;
	}
}

/*SITES PAGE */

.sites-page {
	min-height: 90vh;
	padding-top: 15vh;
	display: flex;
	flex-wrap: wrap;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.75),
			rgba(255, 255, 255, 0.75)
		),
		url("/sites-bg.jpg"); /* The image used */
	background-color: #cccccc; /* Used if the image is unavailable */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	background-attachment: fixed;
}
.sites-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	flex: 35%;
}
.sites-box {
	justify-content: flex-start;
	align-items: center;
}
.sites-container p {
	font-size: 1.75rem;
}
.sites-container {
	max-width: 120rem;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;
	padding: 2rem;
}
.sites-container h3 {
	font-size: 2rem;
}
.siteDetails-container {
	min-height: 90vh;
	display: flex;
	padding: 2rem;
	flex-wrap: wrap;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.75),
			rgba(255, 255, 255, 0.75)
		),
		url("/sites-bg.jpg"); /* The image used */
	background-color: #cccccc; /* Used if the image is unavailable */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	background-attachment: fixed;
	gap: 2rem;
}

.site-detail-card {
	max-width: 120rem;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 2rem;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
}
.site-detail-card-top {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.site-detail-card-top a {
	padding: 1rem 2rem;
	background-color: rgb(1, 177, 175);
	color: white;
	font-size: 1.75rem;
	text-transform: uppercase;
	border-radius: 50px;
}
.site-detail-card-title {
	font-size: 2.25rem;
	text-transform: uppercase;
}
.site-detail-card-directions {
	padding: 0.5rem 0;
	text-align: center;
	font-size: 1.5rem;
	font-style: italic;
	line-height: 1.7;
	width: 70%;
	margin: 0 auto;
}
.site-detail-card-description {
	width: 80%;
	margin: 0 auto;
	font-size: 1.75rem;
	line-height: 1.7;
	padding: 0.5rem 0;
}
.site-detail-card-images {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
}
.site-detail-card img {
	max-width: 40rem;
	width: 100%;
}
.site-detail-card-bottom {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1rem 0;
}
.site-detail-card-left-bottom {
	padding: 2rem;
	background-color: #fff;
	width: 50%;
}
.site-detail-card-left-bottom h4 {
	font-size: 1.75rem;
	text-transform: uppercase;
}
.site-detail-card-left-bottom p {
	font-size: 1.75rem;
}
.site-detail-card-links,
.site-link-contain {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;
}
.site-detail-card-links a {
	padding: 1rem 2rem;
	background-color: orange;
	color: black;
	font-size: 1.5rem;
	text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
	.site-detail-card-left-bottom {
		width: 100%;
	}
	.site-detail-card-directions {
		width: 90%;
	}
	.site-detail-card-description {
		width: 100%;
	}
}
@media screen and (max-width: 840px) {
	.sites-container p {
		font-size: 1.5rem;
	}
	.sites-box {
		justify-content: flex-start;
		align-items: flex-start;
	}
}
